<div class="fullheightWrapper" align="center">
    <div class="row">
        <div class="col-md-12">
            <h1>Startup Web</h1>
            <h2>Para empresas e inversores con ganas de crecer</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <button class="btn btn-lg btn-outline-secondary" routerLink="/login">Inicia sesión</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-lg btn-outline-secondary" routerLink="/register">Regístrate</button>
        </div>
    </div>
</div>